styled.div{
  padding: 100px 80px;
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
/*    
  @media (max-width: 1000px) {
    padding: 70px 30px;
  } */
}
   
 styled.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    margin: 100 auto;
    margin-left:230px;
    /* background: red; */
 }
   
styled.div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}
   
 /* styled.div{
display: grid;
grid-template-columns: repeat(auto-fill, 
                       minmax(185px, 1fr));
grid-gap: 25px;
 
@media (max-width: 1000px) {
  grid-template-columns: repeat(auto-fill, 
                         minmax(200px, 1fr));
}
 } */
 styled.a{
  color: #fff;
  margin-bottom: 0px;
  font-size: 18px;
  text-decoration: none;
 }

 styled.a:hover{
    color: black;
    transition: 200ms ease-in;
 }
   
 styled.p{
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
 }